<div class="j-editor-toolbar">
  <j-editor-toolbar-bold (echo)="useTool($event);"></j-editor-toolbar-bold>
  <j-editor-toolbar-italic (echo)="useTool($event);"></j-editor-toolbar-italic>
  <j-editor-toolbar-underline (echo)="useTool($event);"></j-editor-toolbar-underline>
  <j-editor-toolbar-remove-format (echo)="useTool($event);"></j-editor-toolbar-remove-format>

  <j-editor-toolbar-undo (echo)="useTool($event);"></j-editor-toolbar-undo>
  <j-editor-toolbar-redo (echo)="useTool($event);"></j-editor-toolbar-redo>

  <span class="toolbar-button-group">
    <j-editor-toolbar-align-left (echo)="useTool($event);"></j-editor-toolbar-align-left>
    <j-editor-toolbar-align-center (echo)="useTool($event);"></j-editor-toolbar-align-center>
    <j-editor-toolbar-align-right (echo)="useTool($event);"></j-editor-toolbar-align-right>
  </span>

</div>
